{% extends 'list.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block mid_content %}
    <div class="detail_article">
        <div class="detail_title">
                <h1>{{ new_detail.title }}</h1>
        </div>
        <div class="detail_attribute">
            {% if new_detail.source %}<span>文章来源：{{ new_detail.source }}</span>{% endif %}
            <span>发布时间：{{ new_detail.add_time }}</span>
            <span>阅读量：{{ new_detail.read_volume }}</span>
        </div>
        <div class="detail_content">
            {% autoescape off%}
                {{ new_detail.content }}
            {% endautoescape %}

        </div>
    </div>

{% endblock %}