{% extends 'list.html' %}
{% load staticfiles %}
<script type="text/javascript" src="js/jquery-2.1.0.js"></script>
{% block style_index %}
<style>

			.tab tr td {
				vertical-align: middle;
				padding: 30px 10px;
			}
			
			.tab {
				width: 100%;
			}
			
			.tab table {
				border-right: 1px solid gainsboro;
				border-bottom: 1px solid gainsboro;
			}
			
			.tab table td {
				border-left: 1px solid gainsboro;
				border-top: 1px solid gainsboro;
			}
		</style>
{% endblock %}

{% block mid_content %}
    <!--主要内容-->
    <div class="tab">
        <table width="100%" border="0">
            <tr align="center">
                <td>时间</td>
                <td>支队</td>
                <td>领导</td>
                <td>手机</td>
                <td>值班民警</td>
                <td>手机</td>
                <td>值班电话</td>
            </tr>
            {% for week in Weeks %}
                <tr align="center">
                    <td>{{ week.get_week_display}}</td>
                    <td>{{ week.detachment }}</td>
                    <td>{{ week.leader_name }}</td>
                    <td>{{ week.leader_phone }}</td>
                    <td>{{ week.follower }}</td>
                    <td>{{ week.follower_phone }}</td>
                    <td>{{ week.telephone }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

