<!DOCTYPE html>
{% load staticfiles %}
<html>

	<head>
		<meta charset="utf-8" />
		<title>{% block title %}遵义市公安局监管支队{% endblock %}</title>
        <!-- 头部轮播插件 -->
        <script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery-2.1.0.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/head.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% block css_index %}
            <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        {% endblock %}
        {% block js_index %}
            <!--农历-->
            <script type="text/javascript" src="{% static 'js/getCNDate.js' %}"></script>
        {% endblock %}
        {% block style_index %}
            <style>
                .block a{
                    text-decoration: none;
                    color: #333333;
                    float: right;
                }
            </style>
        {% endblock %}
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
	</head>

	<body>
        <div style="background: linear-gradient(#ABDBF1, #FFFFFF);">
            <div class="all_head">
                <!--头部背景-->
                <div class="head_div">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% if logos %}
                                {% for logo in logos %}
                                  <div class="swiper-slide">
                                      <img src="{{ MEDIA_URL }}{{ logo.image }}" height="250px" width="100%">
                                  </div>
                                {% endfor %}
                            {% else %}
                                <div class="swiper-slide">
                                      <img src="{% static 'img/logo_1.jpg' %}" height="250px" width="100%">
                                </div>
                                <div class="swiper-slide">
                                      <img src="{% static 'img/logo_2.jpg' %}" height="250px" width="100%">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--导航-->
                <div class="navigation">
                    <ul>
                        <a href="{% url 'Index' %}">
                            <li>首页</li>
                        </a>

                        <a href="{% url 'introduce' %}">
                            <li>支队介绍</li>
                        </a>

                        <a href="{% url 'news:news_list' %}">
                            <li>监管要闻</li>
                        </a>

                        <a href="{% url 'conversation:communication_list' %}">
                            <li>经验交流</li>
                        </a>

                        <a href="{% url 'conversation:study_garden_list' %}">
                            <li>学习园地</li>
                        </a>

                        <a href="{% url 'resources:list' %}">
                            <li>软件下载</li>
                        </a>

                        <li>信息化建设</li>
                        <li>网站导航</li>
                        <li>旧版入口</li>

                        <a href="{% url 'operation:formAsk' %}">
                            <li>投稿</li>
                        </a>
                    </ul>
                </div>
            </div>
            <!--内容区-->
            {% block content %}
            <div class="index_content">
                <!--居中的板块-->
                <div class="index_middlecontent">
                    <!--头部标注-->
                    <div class="signin">

                        <a class="user_login" href="/xadmin">管理登陆</a>

                        <div class="time_content">
                            <!--农历-->
                            <div class="lunarcalendar" id="lunarcalendar"></div>
                            <!--年月分秒-->
                            <div class="time" id="time"></div>
                        </div>
                    </div>
                    <img class="headphoto" src="{% static 'img/index_1.jpg' %}">
                    <!--新闻内容-->
                    <div class="journalism_left">
                        <!--轮播-->
                        <div class="broadcast">
                            <div class="journalism">
                                <div class="journalism_img">
                                    <img src="{% static 'img/imgText.png' %}"/>
                                </div>
                                <span>图片新闻</span>
                            </div>
                            <!---->
                            <div id="banner">
                                <!--文字溢出自己隐藏-->
                                <div id="banner_list">
                                     {% for banners in all_News_banner %}
                                        <a href="{% url 'news:news_detail' banners.id %}" target="_blank" style="width: 100%;height: 240px;">
                                            <img src="{{ MEDIA_URL }}{{ banners.image }}"
                                                 title="{% if banners.title|length >= 20 %}
                                                        {{ banners.title|slice:"20" }}...
                                                        {% else %}
                                                        {{ banners.title }}
                                                        {% endif %}"
                                                 alt="{% if banners.title|length >= 20 %}
                                                        {{ banners.title|slice:"20" }}...
                                                        {% else %}
                                                        {{ banners.title }}
                                                        {% endif %}" style="width: 100%;height: 240px;border: 0px"/>
                                        </a>
                                     {% endfor %}
                                </div>
                                <div id="banner_bg"></div>
                                <!--标题背景-->
                                <div id="banner_info"></div>
                                <!--标题-->
                                <ul>
                                    {% for banner in all_News_banner %}
                                        <li  {% if forloop.counter0 == 0 %}class="on"{% endif %}>{{ forloop.counter }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!--监管要闻-->
                        <div class="focusnews">
                            <div class="block">监管要闻 <a class="block_span" href="{% url 'news:news_list' %}">更多>></a></div>
                            <div class="focusnews_a">
                                <a href="{% url 'news:news_detail' new_title_id %}" style="text-decoration:none" target="_blank">
                                    <p style="color:red" align="center">
                                            {% if title_new.title|length >= 10 %}
                                                {{ title_new.title|slice:"10" }}...
                                                {% else %}
                                                {{ title_new.title }}
                                            {% endif %}
                                    </p>
                                </a>
                                <p style="color: #1790D1">{{ title_new.introduce }}</p>
                            </div>
                            <div class="focusnews_b">
                                <ul>
                                    {% for new in all_News %}
                                        {% if forloop.counter0 >= 1 %}
                                            <li>
                                                <span class="spot"></span>
                                                <a href="{% url 'news:news_detail' new.id %}" target="_blank">{{ new.title|truncatewords:"20"}}<span class="a">[{{ new.add_time|date:'Y-m-d' }}]</span></a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!--搜索-->
                        <!--通知通报-->
                        <div class="notified">
                            <div class="block_b"><span>通知通报</span><span><a href="{% url 'work:announcement_list' %}">更多>></a></span></div>
                            <ul>
                                {% for announcement in all_announcements %}
                                    <a href="{% url 'work:announcement_detail' announcement.id %}">
                                    <li>
                                        <img class="pictureimg" src="{% static 'img/detail_img.png' %}">
                                        <span>
                                            [
                                            {% if announcement.source.name|length >= 3 %}
                                                {{ announcement.source.name|slice:"3" }}...
                                                {% else %}
                                                {{ announcement.source.name}}
                                            {% endif %}
                                            ]
                                        </span>
                                            {% if announcement.title|length >= 17 %}
                                                {{ announcement.title|slice:"17" }}...
                                                {% else %}
                                                {{ announcement.title }}
                                            {% endif %}
                                        <span class="a">[{{ announcement.add_time|date:'Y-m-d' }}]</span>
                                    </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--工作简报-->
                        <div class="briefing">
                            <div class="block_b"><span>工作简报</span><span><a href="{% url 'work:work_bulletin_list' %}">更多>></a></span></div>
                            <ul>
                                {% for work_bulletin in all_work_bulletins %}
                                    <a href="{% url 'work:work_bulletin_detail' work_bulletin.id %}">
                                    <li>
                                        <img class="pictureimg" src="{% static 'img/detail_img.png' %}">
                                        <span>
                                            [
                                            {% if work_bulletin.source.name|length >= 3 %}
                                                {{ work_bulletin.source.name|slice:"3" }}...
                                                {% else %}
                                                {{ work_bulletin.source.name}}
                                            {% endif %}
                                            ]
                                        </span>
                                            {% if work_bulletin.title|length >= 17 %}
                                                {{ work_bulletin.title|slice:"17" }}...
                                                {% else %}
                                                {{ work_bulletin.title }}
                                            {% endif %}
                                        <span class="a">[{{ work_bulletin.add_time|date:'Y-m-d' }}]</span>
                                    </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--贴图-->
                        <img class="map" src="{% static 'img/index_2.jpg' %}">
                        <!--公示公告-->
                        <div class="notified">
                            <div class="block_b"><span>公示公告</span><span><a href="{% url 'work:notice_list' %}">更多>></a></span></div>
                            <ul>
                                {% for notice in all_notices %}
                                    <a href={% url 'work:notice_detail' notice.id %}>
                                    <li>
                                        <img class="pictureimg" src="{% static 'img/detail_img.png' %}">
                                        <span>
                                            [
                                            {% if notice.source.name|length >= 3 %}
                                                {{ notice.source.name|slice:"3" }}...
                                                {% else %}
                                                {{ notice.source.name}}
                                            {% endif %}
                                            ]
                                        </span>
                                            {% if notice.title|length >= 17 %}
                                                {{ notice.title|slice:"17" }}...
                                                {% else %}
                                                {{ notice.title }}
                                            {% endif %}
                                        <span class="a">[{{ notice.add_time|date:'Y-m-d' }}]</span>
                                    </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--支队制度-->
                        <div class="briefing">
                            <div class="block_b"><span>支队制度</span><span><a href="{% url 'work:team_system_list' %}">更多>></a></span></div>
                            <ul>
                                {% for team_system in all_team_systems %}
                                    <a href={% url 'work:team_system_detail' team_system.id %}>
                                    <li>
                                        <img class="pictureimg" src="{% static 'img/detail_img.png' %}">
                                        <span>
                                            [
                                            {% if team_system.source.name|length >= 3 %}
                                                {{ team_system.source.name|slice:"3" }}...
                                                {% else %}
                                                {{ team_system.source.name}}
                                            {% endif %}
                                            ]
                                        </span>
                                            {% if team_system.title|length >= 17 %}
                                                {{ team_system.title|slice:"17" }}...
                                                {% else %}
                                                {{ team_system.title }}
                                            {% endif %}

                                        <span class="a">[{{ team_system.add_time|date:'Y-m-d' }}]</span>
                                    </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--支队动态-->
                        <div class="notified">
                            <div class="block_b"><span>支队动态</span><span><a href="{% url 'news:team_news_list' %}">更多>></a></span></div>
                            <ul>
                                {% for team_new in all_team_news %}
                                    <a href="{% url 'news:team_news_detail' team_new.id %}">
                                    <li>
                                        <img class="pictureimg" src="{% static 'img/detail_img.png' %}">
                                        <span>
                                            [
                                            {% if team_new.source.name|length >= 3 %}
                                                {{ team_new.source.name|slice:"3" }}...
                                                {% else %}
                                                {{ team_new.source.name}}
                                            {% endif %}
                                            ]
                                        </span>
                                            {% if team_new.title|length >= 17 %}
                                                {{ team_new.title|slice:"17" }}...
                                                {% else %}
                                                {{ team_new.title }}
                                            {% endif %}

                                        <span class="a">[{{ team_new.add_time|date:'Y-m-d' }}]</span>
                                    </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--各地动态-->
                        <div class="briefing">
                            <div class="block_b"><span>各地动态</span><span><a href="{% url 'news:places_news_list' %}">更多>></a></span></div>
                            <ul>
                                {% for places_new in all_places_news %}
                                    <a href="{% url 'news:places_news_detail' places_new.id %}">
                                    <li>
                                        <img class="pictureimg" src="{% static 'img/detail_img.png' %}">
                                        <span>
                                            [
                                            {% if places_new.source.name|length >= 3 %}
                                                {{ places_new.source.name|slice:"3" }}...
                                                {% else %}
                                                {{ places_new.source.name}}
                                            {% endif %}
                                            ]
                                        </span>
                                            {% if places_new.title|length >= 17 %}
                                                {{ places_new.title|slice:"17" }}...
                                                {% else %}
                                                {{ places_new.title }}
                                            {% endif %}

                                        <span class="a">[{{ places_new.add_time|date:'Y-m-d' }}]</span>
                                    </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--协助破案-->
                        <div class="notified">
                            <div class="block_b"><span>协助破案</span><span><a href="{% url 'news:help_news_list' %}">更多>></a></span></div>
                            <ul>
                                {% for help_new in all_help_news %}
                                    <a href="{% url 'news:help_news_detail' help_new.id %}">
                                    <li>
                                        <img class="pictureimg" src="{% static 'img/detail_img.png' %}">
                                        <span>
                                            [
                                            {% if help_new.source.name|length >= 3 %}
                                                {{ help_new.source.name|slice:"3" }}...
                                                {% else %}
                                                {{ help_new.source.name}}
                                            {% endif %}
                                            ]
                                        </span>
                                            {% if help_new.title|length >= 17 %}
                                                {{ help_new.title|slice:"17" }}...
                                                {% else %}
                                                {{ help_new.title }}
                                            {% endif %}

                                        <span class="a">[{{ help_new.add_time|date:'Y-m-d' }}]</span>
                                    </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--视频巡查-->
                        <div class="briefing">
                            <div class="block_b"><span>视频巡查</span><span><a href="{% url 'news:video_patrol_list' %}">更多>></a></span></div>
                            <ul>
                                {% for video_natrol in all_video_natrols %}
                                    <a href="{% url 'news:video_patrol_detail' video_natrol.id %}">
                                    <li>
                                        <img class="pictureimg" src="{% static 'img/detail_img.png' %}">
                                        <span>
                                            [
                                            {% if video_natrol.source.name|length >= 3 %}
                                                {{ video_natrol.source.name|slice:"3" }}...
                                                {% else %}
                                                {{ video_natrol.source.name}}
                                            {% endif %}
                                            ]
                                        </span>
                                            {% if video_natrol.title|length >= 17 %}
                                                {{ video_natrol.title|slice:"17" }}...
                                                {% else %}
                                                {{ video_natrol.title }}
                                            {% endif %}
                                        <span class="a">[{{ video_natrol.add_time|date:'Y-m-d' }}]</span>
                                    </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--法律法规-->
                        <div class="notified">
                            <div class="block_b"><span>法律法规</span><span><a href="{% url 'work:laws_list' %}">更多>></a></span></div>
                            <ul>
                                {% for law in all_laws %}
                                    <a href="{% url 'work:laws_detail' law.id %}">
                                    <li>
                                        <img class="pictureimg" src="{% static 'img/detail_img.png' %}">
                                        <span>
                                            [
                                            {% if law.source.name|length >= 3 %}
                                                {{ law.source.name|slice:"3" }}...
                                                {% else %}
                                                {{ law.source.name}}
                                            {% endif %}
                                            ]
                                        </span>
                                            {% if law.title|length >= 17 %}
                                                {{ law.title|slice:"17" }}...
                                                {% else %}
                                                {{ law.title }}
                                            {% endif %}
                                        <span class="a">[{{ law.add_time|date:'Y-m-d' }}]</span>
                                    </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--党建工作-->
                        <div class="briefing">
                            <div class="block_b"><span>党建工作</span><span><a href="{% url 'news:build_work_list' %}">更多>></a></span></div>
                            <ul>
                                {% for build_work in all_build_works %}
                                    <a href="{% url 'news:build_work_detail' build_work.id %}">
                                    <li>
                                        <img class="pictureimg" src="{% static 'img/detail_img.png' %}">
                                        <span>
                                            [
                                            {% if build_work.source.name|length >= 3 %}
                                                {{ build_work.source.name|slice:"3" }}...
                                                {% else %}
                                                {{ build_work.source.name}}
                                            {% endif %}
                                            ]
                                        </span>
                                            {% if build_work.title|length >= 17 %}
                                                {{ build_work.title|slice:"17" }}...
                                                {% else %}
                                                {{ build_work.title }}
                                            {% endif %}

                                        <span class="a">[{{ build_work.add_time|date:'Y-m-d' }}]</span>
                                    </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!--右边模块-->
                    <div class="journalism_right">
                        <!--今日值班-->
                        <div class="Beonduty">
                            <div class="block_a">今日值班</div>
                            <ul>
                                <li><span>值班日期：</span>{{  time|date:'Y-m-d' }}</li>
                                <li><span>带班领导：</span>{{ duty.leader_name }}</li>
                                <li><span>移动手机：</span>{{ duty.leader_phone }}</li>
                                <li><span>值班民警：</span>{{ duty.follower }}</li>
                                <li><span>值班电话：</span>{{ duty.telephone }}</li>
                                <li><span>移动手机：</span>{{ duty.follower_phone }}</li>
                            </ul>
                            <div class="more_duty">
                                <a href="{% url 'custom:duty' %}">
                                    更多值班电话
                                </a>
                            </div>


                        </div>
                        <!--法律文书模板下载-->
                        <div class="column">
                            <div class="block_a">法律文书模板下载<a class="a" href="{% url 'resources:list' %}"><span>更多>></span></a></div>
                            <ul>
                                {% for resource in all_resources %}
                                    <a href="{{ MEDIA_URL }}{{ resource.download }}">
                                        <span class="spot"></span>
                                        <li>
                                            {% if resource.title|length >= 10 %}
                                                {{ resource.title|slice:"10" }}...
                                                {% else %}
                                                {{ resource.title }}
                                            {% endif %}
                                        </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--专项工作-->
                        <div class="column-a">
                            <div class="block_a">专项工作</div>
                            {% for special_work in all_special_works%}
                                <p>{{ special_work.title }}：{{ special_work.data }}</p>
                            {% endfor %}
                        </div>
                        <!--本站统计-->
                        <div class="column-a">
                            <div class="block_a">本站统计</div>
                            <ul type="circle">
                                <li>签收文章数量：{{ inspect_success }}</li>
                                <li>未签收的文章数量：{{ inspect_fail }}</li>
                                <li>文章总数量：{{ all_nums }}</li>
                                <li>站点总访问数：{{ click }}</li>
                            </ul>
                        </div>
                        <!--图-->
                        <div class="chart">

                        </div>
                        <!--信息发布排行榜-->
                        <div class="column-a">
                            <div class="block_a">信息发布排行榜</div>
                            <ul>
                                {% for source,value in source_nums.items %}
                                    <li>
                                        {% if source.name|length >= 6 %}
                                                {{ source.name|slice:"6" }}...
                                                {% else %}
                                                {{ source.name }}
                                        {% endif %}
                                        ：{{ value }}
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <!--各所连接-->
                        <div class="column">
                            <div class="block_a">各所链接</div>
                                <ul>
                                    {% for url in other_urls %}
                                        <a href="{{ url.url }}" target="_blank">
                                            <span class="spot"></span>
                                            <li>
                                                {% if url.title|length >= 6 %}
                                                    {{ url.title|slice:"6" }}...
                                                    {% else %}
                                                    {{ url.title }}
                                                {% endif %}
                                            </li>
                                        </a>
                                    {% endfor %}
                                </ul>
                        </div>
                    </div>

                    <!--页尾-->
                    <div class="footer" align="center">
                        <p class="word">Copyright&copy;&nbsp;2002-2018&nbsp;www.qq.com&nbsp;ALL &nbsp;right版权所有</p>
                        <p class="word">Copyright&nbsp;&nbsp;2014遵义市公安局监管支队&nbsp;版权所有&nbsp;All rights reserved</p>
                        <p class="word">设计制作：贵州省遵义市联合网络通信网络有限公司&nbsp;&nbsp;维护QQ：888888&nbsp;&nbsp;客户端IP地址：192.168.1.1</p>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!--飘窗-->
            <div id="FlAD" style="position:absolute;z-index:10;left:100px;top:100px" onmouseover="clearInterval(interval)" onmouseout="interval = setInterval('changePos()', delay)">
                <p style="color:red;float:right;font-size:12px;cursor:pointer;" onClick="img.style.visibility = 'hidden'">关闭</p>
                <a href="#" target="_blank" title="遵义市公安局">
                    <img src="{% if window %}{{ MEDIA_URL }}{{ window.image }} {% else %} {% static 'img/geyan_1.jpg' %} {% endif %}" alt="" width="250px" height="100px" border="0" />
                </a>
            </div>
        </div>

	</body>

	<script>
		//飘窗
		var img = document.getElementById('FlAD');
		var xPos = 200;
		var yPos = 200;
		var step = 1;
		var delay = 20;
		var height = 0;
		var Hoffset = 0;
		var Woffset = 0;
		var yon = 0;
		var xon = 0;
		var pause = true;
		var interval;
		img.style.top = yPos;

		function changePos() {
			width = document.documentElement.clientWidth || document.body.clientWidth;
			height = document.documentElement.clientHeight || document.body.clientHeight;
			scrollLeft = document.documentElement.scrollLeft || document.body.scrollLeft;
			scrollTop = document.documentElement.scrollLeft || document.body.scrollTop;
			Hoffset = img.offsetHeight;
			Woffset = img.offsetWidth;
			img.style.left = xPos + scrollLeft + 'px';
			img.style.top = yPos + scrollTop + 'px';
			if(yon) {
				yPos = yPos + step;
			} else {
				yPos = yPos - step;
			}
			if(yPos < 0) {
				yon = 1;
				yPos = 0;
			}
			if(yPos >= (height - Hoffset)) {
				yon = 0;
				yPos = (height - Hoffset);
			}
			if(xon) {
				xPos = xPos + step;
			} else {
				xPos = xPos - step;
			}
			if(xPos < 0) {
				xon = 1;
				xPos = 0;
			}
			if(xPos >= (width - Woffset)) {
				xon = 0;
				xPos = (width - Woffset);
			}
		}

		function start() {
            {% block window_script %}
                {% if window.is_window == True %}
                    img.visibility = "visible";
                    {% else %}
                    img.hidden = true;
                {% endif %}
            {% endblock %}
			interval = setInterval('changePos()', delay);
		}
		start();

		/**轮播事件**/
		var t = n = 0,
			count;

		$(document).ready(function() {

			count = $("#banner_list a").length;

			$("#banner_list a:not(:first-child)").hide();

			$("#banner_info").html($("#banner_list a:first-child").find("img").attr('alt'));

			$("#banner_info").click(function() {
				window.open($("#banner_list a:first-child").attr('href'), "_blank")
			});

			$("#banner li").click(function() {

				var i = $(this).text() - 1; //获取Li元素内的值，即1，2，3，4

				n = i;

				if(i >= count) return;

				$("#banner_info").html($("#banner_list a").eq(i).find("img").attr('alt'));

				$("#banner_info").unbind().click(function() {
					window.open($("#banner_list a").eq(i).attr('href'), "_blank")
				})

				$("#banner_list a").filter(":visible").fadeOut(500).parent().children().eq(i).fadeIn(1000);

				document.getElementById("banner").style.background = "";

				$(this).toggleClass("on");

				$(this).siblings().removeAttr("class");

			});

			t = setInterval("showAuto()", 4000);

			$("#banner").hover(function() {
				clearInterval(t)
			}, function() {
				t = setInterval("showAuto()", 4000);
			});

		})

		function showAuto()
		{
			n = n >= (count - 1) ? 0 : ++n;

			$("#banner li").eq(n).trigger('click');
		}
		// 头部轮番
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: true, //可选选项，自动滑动
        })
	</script>

</html>