{% extends 'index.html' %}
{% load staticfiles %}

{% block js_index %}{% endblock %}
{% block css_index %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock %}
{% block style_index %}
    <style>
        .box button {
            display: inline-block;
            padding: 6px 12px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 4px;
            border-color: #28a4c9;
            color: #fff;
            background-color: #5bc0de;
            margin: 20px 20px 0 0;
        }

        .box ul li {
            list-style-type: none;
            cursor: pointer;
            margin-top: 10px;
        }

        .box ul li span {
            float: right;
        }

        .box ul li:hover {
            color: red;
        }

        .tab_content{
            width: 100%;
            height: 600px;
            margin: 10px auto;
        }

        .tab_a {
            width: 15%;
            height: 100%;
            border: 1px solid gainsboro;
            border-top: 3px solid #2674CD;
            text-align: center;
            float: left;
        }

        .tab_title {
            width: 100%;
            font-size: 18px;
            color: #397CD1;
            line-height: 50px;
            font-weight: bold;
        }

        .tab_a::after {
            {#background-color: blue;#}
            width: 100%;
            height: 20px;
        }

        .tab_a ul li {
            width: 100%;
            height: 50px;
            line-height: 50px;
            cursor: pointer;
            list-style-type: none;
        }
        .tab_a ul a {
            text-decoration:none;
            color: rgb(57, 57, 57);
        }

        #divs {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 100%;
            border: 1px solid gainsboro;
            float: right;
            padding: 0 20px;
            border-top: 3px solid #2674CD;
        }

        #tab_t .act {
            background-color: ghostwhite;
            font-weight: bold;
            color:rgb(57, 57, 57);
        }

        #divs h1 {
            display: none;
            font-weight: normal;
        }

        #divs ul li:hover {
            color: red;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="content">
        <!--居中的板块-->
        <div class="middlecontent">
            <!--头部标注-->
            <div class="signin">
                <div class="user_name">
                    当前页面：{{ name }}
                    {% block head_titl %}{% endblock %}
                </div>
            </div>
            <!--中间部分-->
            {% block  mid_content%}
            <div class="tab_content">
                <div class="tab_a">
                    <div class="tab_title">
                    </div>
                    <ul id="tab_t">

                        <a href="?option=1 ">
                            <li {% if option == '' or option == '1' %}class="act"{% endif %}>
                                {{ name }}
                            </li>
                        </a>
                    {% block option %}
                        <a href="?option=2 ">
                            <li {% if option == '2' %}class="act"{% endif %}>
                                投稿栏
                            </li>
                        </a>
                    {% endblock %}
                    </ul>
                </div>
            <!--右边-->
                <div id="divs">
                    {% block choice %}
                        <div class="choice">
                            <a href="?choice=1&option={{ option }}" {% if choice == '' or choice == '1' %}class="choice_active"{% endif %}>
                                <span>最新</span>
                            </a>
                            <a href="?choice=2&option={{ option }}" {% if choice == '2'%}class="choice_active"{% endif %}>
                                <span>最火</span>
                            </a>
                        </div>
                    {% endblock %}
                    <div class="show">
                        {% for list in lists.object_list %}
                            <div class="show_item">

                                <div class="show_title">
                                     {% block urls %}
                                         <a href="{% url 'work:announcement_detail' list.id %}?option={{ option }}">
                                        {{ list.title }}
                                        </a>
                                     {%endblock%}
                                </div>

                                <div class="show_time">
                                      {{ list.add_time }}
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                    <!--页码-->
                    <div class="box">
                        <ul class="box_ul">
                            {% if lists.has_previous %}
                            <li class="box_li_long"><a href="?{{ lists.previous_page_number.querystring }}">上一页</a></li>
                            {% endif %}
                            {% for page in lists.pages %}
                                {% if page %}
                                    {% ifequal page lists.number %}
                                    <li class="box_li_active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% else %}
                                    <li class="box_li"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% endifequal %}
                                {% else %}
                                    <li class="box_none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if lists.has_next %}
                                <li class="box_li_long"><a href="?{{ lists.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!--页尾-->
            <div class="footer" align="center">
                <p class="word">Copyright&copy;&nbsp;2002-2018&nbsp;www.qq.com&nbsp;ALL &nbsp;right版权所有</p>
                <p class="word">Copyright&nbsp;&nbsp;2014遵义市公安局监管支队&nbsp;版权所有&nbsp;All rights reserved</p>
                <p class="word">设计制作：贵州省遵义市联合网络通信网络有限公司&nbsp;&nbsp;维护QQ：888888&nbsp;&nbsp;客户端IP地址：192.168.1.1</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block window_script %}
    img.hidden = true;
{% endblock %}

