.head_div{
	width: 100%;
	height: 250px;

}
.head_img{
	height: 100%;
	width:  100%;
}

.navigation {
	width: 100%;
	height: 40px;
	background: linear-gradient(#1F79C5, #1A4594);
}

.navigation ul {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.navigation ul li {
	float: left;
	list-style-type: none;
	width: 100px;
	height: 100%;
	color: white;
	text-align: center;
	line-height: 34px;
	border-right: 1px solid #3773B4;
	cursor: pointer;
}

.navigation ul li:hover {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: #DDF852;
	background: linear-gradient(#1790D1, #074CA0, #1790D1);
	border-right: none;
}