
.index_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 1000px;
	/*background: linear-gradient(#ABDBF1, #FFFFFF);*/
	margin-top: -2px;
}

.index_middlecontent {
	width: 1200px;
	min-height: 1000px;
	margin: 0 auto;
	box-sizing: border-box;
}

.signin {
	width: 100%;
	height: 40px;
	background-color: #EFF9FB;
	border: 1px solid gainsboro;
	line-height: 40px;
	margin-top: 2px;
	/*padding: 0 10px;*/
}

.user_imgs {
	width: 20px;
	height: auto;
	float: left;
	line-height: 50px;
	margin-right: 10px;
}

.user_imgs img {
	width: 20px;
	height: 20px;
}

.user_name {
	width: 60px;
	height: auto;
	float: left;
	color: #1B509F;
	font-size: 14px;
}

.username {
	float: left;
	margin-right: 10px;
	font-size: 14px;
}

.username input {
	width: 80px;
}

.password {
	float: left;
	font-size: 14px;
}

.password input {
	width: 80px;
}

.but {
	float: left;
	margin-left: 10px;
}

.but button {
	width: 60px;
	height: 21px;
	margin-top: 11px;
}

.time {
	min-width: 200px;
	float: right;
	margin-left: 10px;
	height: 40px;
	font-size: 14px;
	line-height: 42px;
}

.lunarcalendar {
	min-width: 100px;
	float: right;
	margin-left: 5px;
	height: 40px;
	font-size: 14px;
	line-height: 42px;
}

.qr_imgs {
	width: 20px;
	height: auto;
	float: left;
	line-height: 50px;
	margin-right: 10px;
}

.headphoto {
	width: 100%;
	height: 100px;
	background-image: url(../img/v1.jpg);
	background-size: 100% 100%;
	margin-bottom: 5px;
	margin-top: 5px;
}


/*左布局*/

.block {
	width: 100%;
	height: 30px;
	background-color: #ECF7FB;
	text-align: center;
	line-height: 30px;
	border-bottom: 1px solid #A1D6F3;
	font-weight: bold;
	font-size: 15px;
	background-image: url(../img/v7.jpg);
	background-size: 100% 100%;
}


.block_a {
	width: 100%;
	height: 30px;
	background-color: #ECF7FB;
	text-align: left;
	line-height: 30px;
	border-bottom: 1px solid #A1D6F3;
	font-weight: bold;
	font-size: 15px;
	padding-left: 10px;
	box-sizing: border-box;
}

.block_b {
	width: 100%;
	height: 30px;
	background-color: #ECF7FB;
	text-align: left;
	line-height: 30px;
	border-bottom: 1px solid #A1D6F3;
	font-size: 15px;
	padding-left: 10px;
	box-sizing: border-box;
	background-image: url(../img/v7.jpg);
	background-size: 100% 100%;
}

.block_b span:nth-of-type(1) {
	font-weight: bold;
	font-size: 16px;
	margin-left: 40px;
	text-shadow: 1PX 1PX 1PX #FFFFFF;
}

.block_b span:nth-of-type(2) {
	float: right;
	font-size: 12px;
	cursor: pointer;
}

.journalism_left {
	width: 75%;
	min-height: 1000px;
	float: left;
}

.focusnews_a {
	padding-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #1790D1;
}

.focusnews_b a:hover {
	color: red;
}

.focusnews_a p:nth-of-type(1) {
	font-size: 16px;
}

.focusnews_a p {
	text-indent: 2em;
	line-height: 20px;
	margin-top: 10px;
	font-size: 14px;
}

.focusnews_b {
	padding-left: 10px;
}

.focusnews_b ul li {
	margin-top: 15px;
	list-style-type: none;
}

.focusnews_b a {
	text-decoration: none;
	color: black;
	font-size: 14px;
}

.focusnews_b .spot {
	background-color: black;
	float: left;
	display: block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	margin-top: 5px;
	margin-right: 10px;
}

.Beonduty ul li {
	list-style-type: none;
	margin-left: 10px;
	margin-top: 7px;
	font-size: 14px;
}

.Beonduty span {
	font-weight: bold;
}


/*右布局*/

.journalism_right {
	float: left;
	width: 25%;
	min-height: 1000px;
}


/*左边样式*/

.broadcast {
	width: 35.4%;
	/*width: 63%;*/
	min-height: 300px;
	float: left;
	border: 1px solid #e5e9ed;
	background-color: white;
}

.journalism {
	width: 100%;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	padding: 0 10px;
}

.journalism span {
	display: block;
	margin-top: 10px;
	float: left;
	margin-left: 5px;
}

.journalism_img {
	width: 20px;
	height: 20px;
	margin-top: 8px;
	float: left;
}

.journalism img {
	width: 20px;
	height: 20px;
}

.focusnews {
	width: 63%;
	/*width: 35.4%;*/
	min-height: 300px;
	float: right;
	border: 1px solid #e5e9ed;
	background-color: white;
	margin-left: 10px;
	font-size: 15px;
}

.search {
	float: left;
	width: 100%;
	height: 40px;
	border: 1px solid #e5e9ed;
	background-color: white;
	margin-top: 10px;
}

.notified {
	width: 49.5%;
	min-height: 250px;
	float: left;
	border: 1px solid #e5e9ed;
	background-color: white;
	margin-top: 5px;
	font-size: 12px;
}

.notified ul li {
	list-style-type: none;
	margin-bottom: 15px;
}

.notified ul li:hover {
	color: red;
}

.notified ul {
	padding: 10px 10px;
}

.notified a {
	text-decoration: none;
	color: black;
}

.briefing a {
	text-decoration: none;
	color: black;
}

.briefing ul li {
	list-style-type: none;
	margin-bottom: 15px;
}

.briefing ul li:hover {
	color: red;
}

.briefing ul {
	padding: 10px 10px;
}

.pictureimg {
	width: 20px;
	height: 15px;
	background-image: url(../img/v8.jpg);
	background-size: 100% 100%;
	float: left;
	margin-right: 5px;
}

.briefing {
	width: 49.5%;
	min-height: 250px;
	float: right;
	border: 1px solid #e5e9ed;
	background-color: white;
	margin-top: 5px;
	font-size: 12px;
}

.a {
	float: right;
	color: #6C6C6C;
}

.map {
	float: left;
	width: 100%;
	height: 110px;
	margin-top: 5px;
	background-image: url(../img/v2.jpg);
	background-size: 100% 100%;
}


/*右边样式*/

.Beonduty {
	width: 98%;
	height: 200px;
	border: 1px solid #e5e9ed;
	background-color: #F9FDFE;
	float: right;
}

.column {
	width: 98%;
	min-height: 293px;
	border: 1px solid #e5e9ed;
	background-color: #F9FDFE;
	float: right;
	margin-top: 5px;
}

.column-a {
	width: 98%;
	min-height: 293px;
	border: 1px solid #e5e9ed;
	background-color: #F9FDFE;
	float: right;
	margin-top: 5px;
}
.column p {
	font-size: 14px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.column-a p {
	font-size: 14px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.column p:hover {
	color: red;
}

.column ul li {
	list-style-type: none;
	font-size: 14px;
	margin-left: 10px;
	cursor: pointer;
}

.column-a ul li {
	list-style-type: none;
	font-size: 14px;
	margin-left: 10px;
	cursor: pointer;
}
.column ul li:hover {
	color: red;
}

.column ul {
	line-height: 30px;
}

.column-a ul {
	line-height: 30px;
}

.column .spot {
	background-color: black;
	float: left;
	display: block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
}

.column-a .spot {
	background-color: black;
	float: left;
	display: block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
}

.column a {
	text-decoration: none;
	color: black;
}



.column-a a {
	text-decoration: none;
	color: black;
}


/*页尾*/

.footer {
	margin-top: 10px;
	width: 100%;
	height: 100px;
	border: 1px solid gainsboro;
	float: left;
	border-bottom-left-radius: 25px;
	margin-bottom: 10px;
	border-bottom-right-radius: 25px;
	background: linear-gradient(#FCFBF6, #B1DBFF);
	text-align: center;
}


/*飘窗*/

#fdck {
	border: 1px solid #c0c0c0;
	margin: 0 auto;
	padding: 5px;
	background: #f0f0f0;
	z-index: 1003;
}


/*轮播*/

#banner {
	position: relative;
	width: 305px;
	height: 240px;
	margin-left: 6px;
}

#banner_list img {
	border: 0px;
	width: 100%;
	height: 240px;
}

#banner_bg {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	height: 30px;
	filter: Alpha(Opacity=30);
	opacity: 0.3;
	z-index: 0;
	cursor: pointer;
	width: 100%;
}

#banner_info {
	position: absolute;
	bottom: -25px;
	left: 60px;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 22px;
	color: black;
	z-index: 1;
	cursor: pointer;
	text-align: center;
}

#banner_text {
	position: absolute;
	width: 120px;
	z-index: 1002;
	right: 3px;
	bottom: 3px;
}

#banner ul {
	position: absolute;
	list-style-type: none;
	filter: Alpha(Opacity=80);
	opacity: 0.8;
	z-index: 2;
	margin: 0;
	padding: 0;
	bottom: 0;
	right: 0;
}

#banner ul li {
	padding: 0px 8px;
	float: left;
	display: block;
	color: #FFF;
	background-color: rgb(0, 0, 0, 0.2);
	cursor: pointer;
}

#banner ul li.on {
	background-color: #9CCC18;
}

#banner_list a {
	position: absolute;
}