.head {
	width: 100%;
	height: 250px;
	background-color: #1D6ABA;
	background-image: url(../img/TIM图片20180725135143.png);
	background-size: 100% 100%;
}

.navigation {
	width: 100%;
	height: 40px;
	background: linear-gradient(#1F79C5, #1A4594);
}

.navigation ul {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.navigation ul li {
	float: left;
	list-style-type: none;
	width: 100px;
	height: 100%;
	color: white;
	text-align: center;
	line-height: 34px;
	border-right: 1px solid #3773B4;
	cursor: pointer;
}

.navigation ul li:hover {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: #DDF852;
	background: linear-gradient(#1790D1, #074CA0, #1790D1);
	border-right: none;
}

.content {
	width: 100%;
	min-height: 500px;

}

.middlecontent {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
	background: #FFFFFF;
}

.signin {
	width: 100%;
	height: 40px;
	background-color: #EFF6FF;
	/*border: 1px solid gainsboro;*/
	line-height: 40px;
	/*padding: 0 10px;*/
}

.user_imgs {
	width: 20px;
	height: auto;
	float: left;
	line-height: 50px;
	margin-right: 10px;
}

.user_imgs img {
	width: 20px;
	height: 20px;
}

.user_name {
	width: 1100px;
	height: 100%;
	float: left;
	color: #1B509F;
	font-size: 14px;
}

.a{
	margin-top: 5px;
	float: right;
}
.username {
	float: left;
	margin-right: 10px;
	font-size: 14px;
}

.username input {
	width: 80px;
}

.password {
	float: left;
	font-size: 14px;
}

.password input {
	width: 80px;
}

.but {
	float: left;
	margin-left: 10px;
}

.but button {
	width: 60px;
	height: 21px;
	margin-top: 11px;
}

.time {
	min-width: 200px;
	float: left;
	margin-left: 10px;
	height: 40px;
	font-size: 14px;
	line-height: 42px;
}

.lunarcalendar {
	min-width: 100px;
	float: left;
	margin-left: 5px;
	height: 40px;
	font-size: 14px;
	line-height: 42px;
}

.quickreport {
	min-width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}

.qr_imgs {
	width: 20px;
	height: auto;
	float: left;
	line-height: 50px;
	margin-right: 10px;
}

.qr_imgs img {
	width: 20px;
	height: 20px;
}

.quickreport span:nth-last-of-type(1) {
	color: red;
}

.gtext {
	float: left;
}

.glidingtext {
	float: left;
	min-width: 50px;
	height: 40px;
	cursor: pointer;
}


/*左布局*/

/*页尾*/

.footer {
	margin-top: 10px;
	width: 100%;
	min-height: 100px;
	/*border-top: 1px solid gainsboro;*/
	margin-bottom: 10px;
	float: left;
	/*border-bottom-left-radius: 25px;*/
	/*border-bottom-right-radius: 25px;*/
	background: white;
	text-align: center;
}

.word{
	margin-top: 10px;
	color: gray;
}




.show{
	display: flex;
	flex-direction: column;
	flex-grow: 9;
	width: 100%;
	margin-top: 10px;
	padding: 0px;
}


.show_item{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40px;
	margin-bottom:10px;
	border-bottom: 1px solid gainsboro;
	padding-bottom: 4px;
}


.show_title{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	height: 100%;
	justify-content: flex-start;
	align-items: flex-end;
	cursor: pointer;

}

.show_title a{
	text-decoration:none;
	color: rgb(57, 57, 57);
}

.show_title a:hover{
	color: red;
}

.show_time{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: flex-end;
	height: 100%;
	margin-left: 10px;
	justify-content: flex-end;
	color: #999999;
}

.box{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
}

.box_ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.box_li_long{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: auto;
    height: 30px;
    margin-left: 10px;
	border: 1px solid #c5b7b7;
}

.box_li_long a{
	text-decoration:none;
	color: #888888;
}


.box_li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30px;
    height: 30px;
    margin-left: 10px;
	border: 1px solid #c5b7b7;
	cursor: default;

}

.box_li a{
	text-decoration:none;
	color: #888888;
	text-align: center;
}


.box_li_active{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30px;
    height: 30px;
    margin-left: 10px;
	border: 1px solid #30A5DA;
	background: #30A5DA;
	cursor: default;
}

.box_li_active a{
	text-decoration:none;
	color: #FFFFFF;
	text-align: center;
}

.box_none{
	width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
	color: #888888;
}



