.submission{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0;
    font: 16px/1.8 "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
    color: rgb(57,57,57);
    /*min-height: 800px;*/

}

.submission_content{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /*padding: 10px 20px 0;*/
    padding: 10px 40px;
    font: 14px/1.8 "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
    color: rgb(57,57,57);
    border: 1px solid #E6E6E6;
    border-top: 3px solid #2674CD;
    margin-top: 10px;
    min-height: 900px;
}

.submission_item{
    display: flex;
    flex-direction: row;
}

.submission_item span{
    margin-left: 10px;
    color: red;
}

.submission_item input{
    width: 100%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-bottom: 1px solid #E6E6E6;
    /*color: rgb(187, 187, 187);*/
    color: rgb(51,51,51);
    border-collapse:collapse;
    font: 14px/40px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
}

.submission_item textarea{
    width: 100%;
    height: 400px;
    color: rgb(51,51,51);
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #E6E6E6;
    /*border: 1px solid #E6E6E6;*/
    border-collapse:collapse;
    font: 14px/40px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
}

.submission_btn{
    width: 100%;
    height: 100%;
    color: rgb(51,51,51);
    font: 18px/40px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
    /*border-bottom: 1px solid #E6E6E6;*/
    border: none;
    background: #FFFFFF;
}


.submission_btn:hover{
    background: #2674CD;
    color: #FFFFFF;
}

.submission_item_btn{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background: red;
    color: #FFFFFF;
    font: 16px/1.8 "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
}

.error ul{
    list-style-type:none;
    float: right;

}

.error ul li{
    list-style-type:none;
    margin-left: 10px;

}




